@import "global";

.header {
    height: 900px;
    background-image: url("../images/header/main-screen__bgc.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 60px;
    padding-left: 48px;
        .logo {
            width: 40px;
            height: 40px;
        }
        &__container-up{
            max-width: 1800px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;

        }
        &__right {
            max-width: 1200px;
            width: 100%;
           display: flex;
           justify-content: space-between;
           align-items: center;
            
        }
        &__menu {
            max-width: 750px;
            width: 100%;
            display: flex;
            justify-content: space-between
            
        }
        &__menu-item {
            @include F-size-family-line(16px,"Regular",150%);
            color: white;
            transition: $time;
            
                &:hover{
                    color: rgb(202, 200, 200);
                    
                }
        }
        &__btn {
           

        }
        &__btn-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 183px;
            height: 44px;
            background: linear-gradient(90deg, #C89AFC,#7C6AFA);
            border-radius: 50px;
            @include F-size-family-line(16px,"Regular",0);
            color: white;

        }
    
        &__title {

        }
        &__title-h2 {
            @include F-size-family-line($fn-XLL, "Bold", 140%);
            color: white;
            text-align: left;
            display: inline-block;
            max-width: 900px;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            max-width: 530px;
            width: 100%;
            list-style-type: none;
            padding: 0;

        }
        &__list-item {
           width: 115px;
           height: 112px;
           background-color: #121212;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }
        &__list-item-h2 {
            color: white;
            @include F-size-family-line($fn-m, "Bold", 140%);
            margin: 0;
            padding: 0;
            margin-bottom: 8px;
            
        }
        &__list-item-text {
            @include F-size-family-line($fn-xxs, "Regular", 140%);
            color: #717171;
            margin: 0;
            padding: 0;
        }
}
