//------------Animation-----------------

$time:0.8s;

//------------colors-----------------


//------------fonts-size-----------------

$fn-xxs:16px;
$fn-xs:18px;
$fn-s:24px;
$fn-m:36px;
$fn-XL:48px;
$fn-XLL:64px;

//------------width-for-containers-----------------


//------------width-for-buttons-----------------

