@import 'fonts';
@import 'mixin';
@import 'null';
@import 'var';


body {
    background-image: url('../../images/bgc.png');
}
.container {
    max-width: 1350px;
    margin: 0 auto;
}
.logo {

}
.menu {
    display: flex;
    justify-content: space-between; 

    &__item {

        font-family: 'RobotoRegular';
        font-size: $fn-xxs;
        
        color: white;

        
    }
    &__item_hover {
        
        &:hover{
            opacity: 0.8;
        }
        
    }
}
.input__block {
    position: relative;
    margin-bottom: 30px;
}
.input {
    display: inline-block;
    max-width: 500px;
    width: 100%;
    height: 44px;
    border-radius: 50px;
    outline: none;
    border: none;

    padding-left: 25px;

    box-sizing: border-box;
}
.input__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 24px;
    width: 160px;

    border-radius: 50px;
    border: none;
    background: linear-gradient(to bottom right, #DF5950, #451046);
    color: white;

    font-family: 'RobotoBold';
    font-size: $fn-xxs;
        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
}

