


.header {
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 1em;

    display: grid;
    grid-template-columns: auto minmax(auto, 750px) auto;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    align-items: center;

    height: 100px;

    &__btn-block {
        justify-self: end;
        grid-column: 3/4;
        grid-row: 2/3;
    }
    &__btn-item {
        font-family: 'RobotoRegular';
        font-size: $fn-xxs;
        color: white;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 184px;
        height: 44px;
        
        border-radius: 2em;
        background: linear-gradient(to bottom right, #C89AFC, #7C6AFA);
    }
    &__btn-item_hover {

            &:hover {
                opacity: 0.8;
            }
    }
    &__burger-menu {
        grid-column: 3/4;

        display: none;
    }
    &__burger-item {
        display: flex;
        width: 40px;
        height: 3px;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: white;
    }
    @include media(medium){
        
        &__btn-block{
            display: none;
        }
        &__burger-menu{
            display: block;
            grid-row: 2/3;
            position: relative;
            z-index: 6;
        }
    }

   
}

