.start {
    margin-top: 180px;
color: white;
    &__up-left {

        display: grid;
        grid-template-columns: 100px 350px 3fr;
        grid-template-rows: 1fr 1fr;
    }
    &__logo {

    }
    &__heading {
        font-family: 'RobotoBold';
        font-size: $fn-XL;

        align-self: end;

        margin: 0;
        margin-bottom: 10px;
    }
    &__text {

        grid-column: 1 / 3;
        grid-row: span 3;
        align-self: end;

        font-family: 'RobotoRegular';
        font-size: $fn-xxs;
        line-height: 160%;
        opacity: 40%;
    }
    &__main {
        margin-top: 65px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        
    }
    &__list {
        padding: 0;
        list-style-type: none;

        display: grid;
    }
    &__list-heading {
        align-self: start;

        font-family: 'RobotoBold';
        font-size: $fn-m;
    }
    &__list-block {
        align-self: center;
    }
  
    &__list-text {
        align-self: end;

        font-family: 'RobotoRegular';
        font-size: $fn-xxxs;
        line-height: 160%;
        opacity: 40%;

        margin-top: 20px;
        padding-right: 25px;

    }

    &__list-block_height-100 {
        height: 80px;
        background: linear-gradient(to right, #C89AFC, #7C6AFA);
    }
    &__list-block_height-75 {
        height: 60px;
        background: linear-gradient(to right, #7C6AFA, #C89AFC);
    }
    &__list-block_height-50 {
        height: 30px;
        background: linear-gradient(to right, #C89AFC, #7C6AFA);
    }
    &__list-block_height-end {
        height: 10px;
        background: linear-gradient(to right, #7C6AFA, #C89AFC);
    }

    @include media(mediumSmall){
        &__main {
            grid-template-columns: 1fr;
        }
    }
    @include media(small){
        &__up-left{
            grid-template-columns: 1fr 3fr;
        }
    }
}
